#lombok.anyConstructor.addConstructorProperties=true  →  javac -parameters ➕ copyableAnnotations ➕ @RequiredArgsConstructor(onConstructor_=@JsonCreator)

#lombok.log.fieldName = LOGGER

lombok.addNullAnnotations = javax
#lombok.addNullAnnotations=CUSTOM:com.example.annotations.NonNull:com.example.annotations.Nullable

lombok.var.flagUsage = error

lombok.addLombokGeneratedAnnotation = true

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += com.fasterxml.jackson.databind.annotation.JsonDeserialize
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonFormat

config.stopBubbling = true

lombok.extern.findbugs.addSuppressFBWarnings = false
lombok.addSuppressWarnings = true
